aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1713964820544/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
discord.py @ file:///home/conda/feedstock_root/build_artifacts/discord.py_1691711949357/work
distlib==0.3.8
filelock==3.14.0
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645449276/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040729125/work
platformdirs==4.2.2
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
setuptools==70.0.0
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1704986336983/work
virtualenv==20.26.2
wheel==0.43.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508298164/work
